@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="~/Home">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div style="padding:5vh 0 ;width:50vw; display:flex ; flex-direction:row; justify-content:space-between">

            <button class="btn btn-dark"><a href="/Room/Room?sort=inc">Price increase </a></button>
            <button class="btn btn-dark"><a href="/Room/Room?sort=des">Price decrease</a></button>
        </div>

        <div class="row">
            <!-- for -->
            @{
                if (ViewBag.Rooms != null)
                {
                    @foreach (var room in ViewBag.Rooms)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="room-item">
                                <img src="~/img/room/@room.Image" alt="" />

                                <div class="ri-text">
                                    <h4>@room.Name</h4>
                                    <h3>@room.Price$<span>/Pernight</span></h3>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="r-o">Size:</td>
                                                <td>@room.Size ft</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Capacity:</td>
                                                <td>@room.Capacity</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Bed:</td>
                                                <td>@room.Bed</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Services:</td>
                                                <td>@room.Services</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="./RoomDetail?id=@room.Id" class="primary-btn">More Details</a>
                                </div>

                            </div>
                        </div>
                    }
                }
            }

            <!-- for  -->

            
        </div>
    </div>
</section>
<!-- Rooms Section End -->